<div>

  <section class="search-sec">
    <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="row">
              <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                <input [(ngModel)]="brojNaloga" type="text" class="form-control search-slt" placeholder="Unesi broj naloga">
              </div>
              <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                <input (ngModelChange)="odChanged()" [(ngModel)] = "od" type="date" placeholder="od" class="form-control search-slt">
              </div>
              <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                <input (ngModelChange)="doChanged()" [(ngModel)] = "doo" type="date" class="form-control search-slt">
              </div>
              <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                <input [(ngModel)] = "brojDokFak" type="text" class="form-control search-slt" placeholder="Unesi broj fakture/dokumenta">
              </div>
              <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                <input [(ngModel)]="komentar" type="text" class="form-control search-slt" placeholder="Unesi komentar">
              </div>
              <div class="col-lg-2 col-md-3 col-sm-12 p-0">
                <button (click)="pretrazi()" type="button" class="btn btn-danger wrn-btn">Pretraži</button>
              </div>
            </div>
          </div>
        </div>
    </div>
  </section>
  <!--  Search   -->
<!--  <input [(ngModel)]="brojNaloga" type="text"  placeholder="&nbsp;">-->
<!--  <span class="label">Broj naloga</span>-->

<!--  <input (ngModelChange)="odChanged()" [(ngModel)]="od" type="date" name="begin"-->
<!--         placeholder="dd-mm-yyyy" value=""-->
<!--         min="1997-01-01" max="2030-12-31">-->
<!--  <span class="label">OD</span>-->

<!--  <input (ngModelChange)="doChanged()" [(ngModel)] = "doo" type="date" name="begin"-->
<!--         placeholder="dd-mm-yyyy" value=""-->
<!--         min="1997-01-01" max="2030-12-31">-->
<!--  <span class="label">DO</span>-->

<!--  <input  [(ngModel)] = "brojDokFak" type="text"  placeholder="&nbsp;">-->
<!--  <span class="label">Broj dokumenta/fakture</span>-->

<!--  <input [(ngModel)]="komentar" type="text"  placeholder="&nbsp;">-->
<!--  <span class="label">Komentar</span>-->

<!--  <button class="btn btn-primary" (click)="pretrazi()">Pretrazi</button>-->


<!--  Tabela   -->

  <table class="table table-bordered"  >
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Broj naloga</th>
      <th scope="col">Datum</th>
      <th scope="col">Broj fakture/Dokumenta</th>
      <th scope="col">Duguje</th>
      <th scope="col">Potražuje</th>
      <th scope="col">Saldo</th>
      <th scope="col">Komentar</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let knjizenje of knjizenja; index as i">
      <th scope="row">{{ i + 1 }}</th>
      <td id="brojNaloga">{{ knjizenje.brojNaloga }}</td>
      <td>{{ knjizenje.datumKnjizenja }}</td>
      <td>{{knjizenje.dokumentId}}</td>
      <td>{{ knjizenje.duguje}}</td>
      <td>{{ knjizenje.potrazuje }}</td>
      <td>{{ knjizenje.saldo }}</td>
      <td>{{ knjizenje.komentar }}</td>
    </tr>
    </tbody>
  </table>
</div>



