<div class="mx-10">
  <h1 style="font-family: Sans-serif, serif; text-align: center" class="pt-4 pb-md-0 md-5">Evidencije</h1>
  <section class="search-sec">
    <div class="container">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
          <div class="row" [formGroup]="filterForm">
            <div class="col-lg-2 col-md-3 col-sm-12 p-0">
              <input [formControlName]="'sifraArtikla'" type="text" placeholder="šifraArtikla"
                     class="form-control search-slt">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 p-0">
              <input [formControlName]="'nazivArtikla'" type="text" placeholder="nazivArtikla"
                     class="form-control search-slt">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 p-0">
              <input [formControlName]="'jedinicaMere'" type="text" class="form-control search-slt"
                     placeholder="jedinicaMere">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 p-0">
              <input [formControlName]="'kolicina'" type="text" class="form-control search-slt" placeholder="količina">
            </div>
            <div class="col-lg-2 col-md-3 col-sm-12 p-0">
              <button (click)="pretrazi()" type="button" class="btn btn-danger wrn-btn">Pretraži</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <table class="table table-bordered ">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Šifra artikla</th>
      <th scope="col">Naziv artikla</th>
      <th scope="col">Jedinica mere</th>
      <th scope="col">Količina</th>
    </tr>
    </thead>
    <tbody *ngFor="let artikal of artikli; index as i">

    <tr (dblclick)="prikaziArtikal(artikal.artikalId)">
      <th scope="row">{{ i + 1 }}</th>
      <td>{{ artikal.sifraArtikla }}</td>
      <td>{{ artikal.nazivArtikla }}</td>
      <td>{{ artikal.jedinicaMere }}</td>
      <td>{{ artikal.kolicina }}</td>
    </tr>

    </tbody>
  </table>
</div>

