<div class="row mt-2">
  <div class="col-4 text-center">
    <label for="knjizenja">Knjiženja:</label><br>
    <select name="knjizenja" id="knjizenja" #knjizenjeSelect>
      <option *ngFor="let knjizenje of knjizenja" value="knjizenje">{{knjizenje.brojNaloga}}</option>
    </select>
  </div>

  <div class="col-4 text-center">
    <button type="button" class="btn btn-primary" (click)="popup(knjizenjeSelect.selectedIndex, centarSelect.selectedIndex)">Dodeli listu
      konta
    </button>
  </div>

  <div class="col-4 text-center">
    <label for="centri">Profitni Centri:</label><br>
    <select name="centri" id="centri" #centarSelect>
      <option *ngFor="let centar of profitniCentri" value="centar">{{centar.naziv}}</option>
    </select>
  </div>
</div>


<hr>


<mat-tree *ngIf="profitniCentri" [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
  <mat-nested-tree-node *matTreeNodeDef="let node">

    <div class="mat-tree-node">
      <button mat-icon-button matTreeNodeToggle type="button" class="btn plusminus" [attr.aria-label]="'Toggle ' + node.naziv">
        {{getIcon(node)}}
      </button>

      <b>{{node.naziv}}</b>

      <button type="button" class="btn btn-sm btn-outline-primary" (click)="setSelected(node)"><i>lista-konta</i></button>
      <button type="button" class="btn btn-sm btn-outline-warning">Izmeni</button>
      <button type="button" class="btn btn-sm btn-outline-danger" (click)="obrisiProfitniCentar(node)">Obriši</button>
    </div>

    <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">
      <ng-container matTreeNodeOutlet>
        <i>Šifra:</i> <b><i>{{node.sifra}}</i></b> <br>
        <i>Ukupni trošak:</i> <b><i>{{calculateUkupniTrosak(node)}}</i></b> <br>
        <i>Odgovorno lice:</i> <b><i>{{node.odgovornoLiceId}}</i></b> <br>
        <i>Lokacija:</i> <b><i>{{node.lokacijaId}}</i></b> <br>
      </ng-container>
    </div>

  </mat-nested-tree-node>
</mat-tree>


<hr>


<div *ngIf="selectedProfitniCentar" class="konta-table">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col" class="text-center">Broj naloga</th>
      <th scope="col" class="text-center">Broj konta</th>
      <th scope="col" class="text-center">Ime konta</th>
      <th scope="col" class="text-center">Saldo</th>
      <th scope="col" class="text-center">Datum</th>
      <th scope="col" class="text-center">Komentar</th>
      <th scope="col" class="text-center">Akcija</th>
    </tr>
    </thead>
    <tbody *ngIf="selectedProfitniCentar.kontoList">
    <tr *ngFor="let konto of selectedProfitniCentar.kontoList">
      <td class="text-center">{{konto.knjizenje.brojNaloga}}</td>
      <td class="text-center">{{konto.kontnaGrupa.brojKonta}}</td>
      <td class="text-center"><input type="text" value="{{konto.kontnaGrupa.nazivKonta}}" #editableNaziv></td>
      <td class="text-center"><input type="number" value="{{getSaldo(konto.duguje, konto.potrazuje)}}" #editableSaldo></td>
      <td class="text-center">{{getAsDate(konto.knjizenje.datumKnjizenja)}}</td>
      <td class="text-center"><textarea rows="1" #editableKomentar>{{konto.knjizenje.komentar}}</textarea></td>
      <td class="text-center">
        <button type="button" class="btn btn-sm btn-outline-warning"
                (click)="izmeniKonto(konto, editableNaziv, editableSaldo, editableKomentar)">Izmeni
        </button>
        <button type="button" class="btn btn-sm btn-outline-danger" (click)="obrisiKonto(konto)">Obriši</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
