<!--  Tabela   -->

<table class="table table-bordered">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Broj konverzije</th>
    <th scope="col">Datum</th>
    <th scope="col">Dobavljac</th>
    <th scope="col">Lokacija</th>
    <th scope="col">Troskovi nabavke</th>
    <th scope="col">Fakturna cena</th>
    <th scope="col">Nabavna vrednost</th>
    <th scope="col">Valuta</th>
    <th scope="col">Komentar</th>
    <th scope="col">Brisanje</th>
  </tr>
  </thead>
  <tbody *ngFor="let konverzija of konverzije; index as i">

  <tr (dblclick)="prikaziArtikle(i)">
    <th scope="row">{{ i + 1 }}</th>
    <td>{{ konverzija.brojKonverzije }}</td>
    <td>{{ konverzija.datum | date }}</td>
    <td>{{ konverzija.nazivDobavljaca }}</td>
    <td>{{ konverzija.nazivLokacija + ", " + konverzija.adresaLokacije}}</td>
    <td>{{ konverzija.troskoviNabavke }}</td>
    <td>{{ konverzija.fakturnaCena }}</td>
    <td>{{ konverzija.nabavnaVrednost }}</td>
    <td>{{ konverzija.valuta }}</td>
    <td>{{ konverzija.komentar }}</td>
    <td>
      <button class="btn btn-danger" (click)="delete(konverzija.konverzijaId)">Brisanje</button>
    </td>

  <tr [hidden]="shownIndex!=i">
    <td colspan="11">
      <table class="table table-bordered">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Sifra artikla</th>
          <th scope="col">Naziv artikla</th>
          <th scope="col">Jedinica mere</th>
          <th scope="col">Kolicina</th>
          <th scope="col">Nabavna cena</th>
          <th scope="col">Rabat %</th>
          <th scope="col">Rabat</th>
          <th scope="col">Nabavna cena posle rabata</th>
          <th scope="col">Ukupna nabavna vrednost</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let artikal of artikli; index as i">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ artikal.sifraArtikla }}</td>
          <td>{{ artikal.nazivArtikla }}</td>
          <td>{{ artikal.jedinicaMere }}</td>
          <td>{{ artikal.kolicina }}</td>
          <td>{{ artikal.nabavnaCena }}</td>
          <td>{{ artikal.rabatProcenat }}</td>
          <td>{{ artikal.nabavnaCena * (artikal.rabatProcenat / 100) }}</td>
          <td>{{ artikal.nabavnaCena - artikal.rabat }}</td>
          <td>{{ artikal.nabavnaCenaPosleRabata * artikal.kolicina }}</td>
        </tr>


        </tbody>
      </table>
    </td>
    <!--  Tabela 2  -->

  </tr>
  <tr [hidden]="shownIndex != i">
    <td colspan="11">
      <!--        DODAVANJE ARTIKLA-->
      <form [formGroup]="addingFormArtikal" (ngSubmit)="dodajArtikal(konverzija.konverzijaId)">
        <label class="form-label">Sifra artikla</label>
        <input [formControlName]="'sifraArtikla'" type="text" class="form-control form-control-lg"/>
        <span class="text-danger"
              *ngIf="addingFormArtikal.controls['sifraArtikla'].dirty && addingFormArtikal.hasError('required','sifraArtikla')">
            Obavezno polje
           </span>

        <label class="form-label">Naziv artikla</label>
        <input [formControlName]="'nazivArtikla'" type="text" class="form-control form-control-lg"/>
        <span class="text-danger"
              *ngIf="addingFormArtikal.controls['nazivArtikla'].dirty && addingFormArtikal.hasError('required','nazivArtikla')">
            Obavezno polje
            </span>

        <label class="form-label">Jedinica mere</label>
        <input [formControlName]="'jedinicaMere'" type="text" class="form-control form-control-lg"/>
        <span class="text-danger"
              *ngIf="addingFormArtikal.controls['jedinicaMere'].dirty && addingFormArtikal.hasError('required','jedinicaMere')">
            Obavezno polje
            </span>

        <label class="form-label">Kolicina</label>
        <input (change)="changedArtikal(konverzija.konverzijaId)" (change)="liveRefresh()" [formControlName]="'kolicina'" type="text"
               class="form-control form-control-lg"/>
        <span class="text-danger"
              *ngIf="addingFormArtikal.controls['kolicina'].dirty && addingFormArtikal.hasError('required','kolicina')">
            Obavezno polje
            </span>

        <label class="form-label">Nabavna cena</label>
        <input (change)="changedArtikal(konverzija.konverzijaId)" (change)="liveRefresh()" [formControlName]="'nabavnaCena'" type="text"
               class="form-control form-control-lg"/>
        <span class="text-danger"
              *ngIf="addingFormArtikal.controls['nabavnaCena'].dirty && addingFormArtikal.hasError('required','nabavnaCena')">
            Obavezno polje
            </span>

        <label class="form-label">Rabat %</label>
        <input [formControlName]="'rabatProcenat'" (change)="liveRefresh()" type="text" class="form-control form-control-lg"/>
        <span class="text-danger"
              *ngIf="addingFormArtikal.controls['rabatProcenat'].dirty && addingFormArtikal.hasError('required','rabatProcenat')">
            Obavezno polje
            </span>

        <label class="form-label">Rabat </label>
        <input [disabled]="true" [formControlName]="'rabat'" type="text" class="form-control form-control-lg"/>
        <span class="text-danger"
              *ngIf="addingFormArtikal.controls['rabat'].dirty && addingFormArtikal.hasError('required','rabat')">
            Obavezno polje
            </span>

        <label class="form-label">Nabavna cena posle rabata </label>
        <input (change)="changedArtikal(konverzija.konverzijaId)"(change)="liveRefresh()" [disabled]="true"
               [formControlName]="'nabavnaCenaPosleRabata'" type="text" class="form-control form-control-lg"/>
        <span class="text-danger"
              *ngIf="addingFormArtikal.controls['nabavnaCenaPosleRabata'].dirty && addingFormArtikal.hasError('required','nabavnaCenaPosleRabata')">
            Obavezno polje
            </span>

        <label class="form-label">Ukupna nabavna vrednost </label>
        <input (change)="changedArtikal(konverzija.konverzijaId)" [disabled]="true"
               [formControlName]="'ukupnaNabavnaVrednost'" type="text" class="form-control form-control-lg"/>
        <span class="text-danger"
              *ngIf="addingFormArtikal.controls['ukupnaNabavnaVrednost'].dirty && addingFormArtikal.hasError('required','ukupnaNabavnaVrednost')">
            Obavezno polje
            </span>

        <button  class="btn btn-primary" value="submit">Dodaj artikal</button>
      </form>
    </td>

  </tr>

  </tbody>
</table>
<br><br><br><br>
<form [formGroup]="addingForm" (ngSubmit)="dodajKonverziju()">
  <label class="form-label">Broj konverzije</label>
  <input [formControlName]="'brojKonverzije'" type="text" class="form-control form-control-lg"/>
  <span class="text-danger"
        *ngIf="addingForm.controls['brojKonverzije'].dirty && addingForm.hasError('required','brojKonverzije')">
    Obavezno polje
  </span>

  <label class="form-label">Datum</label>
  <input [formControlName]="'datum'" type="date" class="form-control form-control-lg"/>
  <span class="text-danger" *ngIf="addingForm.controls['datum'].dirty && addingForm.hasError('required','datum')">
    Obavezno polje
  </span>

  <label class="form-label">Dobavljac</label>
  <select [formControlName]="'dobavljac'">
    <option *ngFor="let dobavljac of dobavljaci; let i = index" [value]="dobavljaci[i].preduzeceId">
      {{dobavljaci[i].naziv}}
    </option>
  </select>

  <label class="form-label">Lokacija(iz postojecih)</label>
  <select [formControlName]="'lokacija'">
    <option *ngFor="let lokacija of lokacije; let i = index" [value]="lokacije[i].lokacijaId">
      {{lokacije[i].adresa + ' ' + lokacije[i].naziv}}
    </option>
  </select>

  <label class="form-label">Naziv lokacije</label>
  <input [formControlName]="'adresaLokacije'"  type="text" class="form-control form-control-lg" name="lokacijaNaziv"/>

  <label class="form-label">Adresa lokacije</label>
  <input [formControlName]="'nazivLokacije'"  type="text" class="form-control form-control-lg" name="lokacijaAdresa"/>


  <table class="table table-bordered" formArrayName="troskoviNabavke">
    <tr>
      <th colspan="2">Dodaj troskove:</th>
      <th width="150px">
        <button type="button" (click)="addTrosakNabavke()" class="btn btn-primary">Add More</button>
      </th>
    </tr>

    <tr *ngFor="let quantity of troskoviNabavke.controls; let i=index" [formGroupName]="i">
      <td>
        Trosak:
        <input type="text" formControlName="naziv" class="form-control">
      </td>
      <td>
        Cena:
        <input type="text" (change)="saberi()" formControlName="cena" class="form-control">
      </td>
      <td>
        <button (click)="removeTrosak(i)" class="btn btn-danger">Remove</button>
      </td>
    </tr>
  </table>

  <!--  <label class="form-label">Troskovi nabavke</label>-->
  <!--  <input [formControlName]="'troskoviNabavke'" (change)="changed()" type="text" class="form-control form-control-lg"/>-->
  <!--  <span class="text-danger"-->
  <!--        *ngIf="addingForm.controls['troskoviNabavke'].dirty && addingForm.hasError('required','troskoviNabavke')">-->
  <!--    Obavezno polje-->
  <!--  </span>-->

    <label class="form-label">Fakturna cena</label>
    <input [formControlName]="'fakturnaCena'" type="text" class="form-control form-control-lg"  />
    <span class="text-danger"
          *ngIf="addingForm.controls['fakturnaCena'].dirty && addingForm.hasError('required','fakturnaCena')">
      Obavezno polje
    </span>

  <label class="form-label">Nabavna vrednost</label>
  <input [formControlName]="'nabavnaVrednost'" type="text" class="form-control form-control-lg"/>
  <span class="text-danger"
        *ngIf="addingForm.controls['nabavnaVrednost'].dirty && addingForm.hasError('required','nabavnaVrednost')">
    Obavezno polje
  </span>

  <label class="form-label">Valuta</label>
  <input [formControlName]="'valuta'" type="text" [disabled]="true" class="form-control form-control-lg"/>
  <span class="text-danger" *ngIf="addingForm.controls['valuta'].dirty && addingForm.hasError('required','valuta')">
    Mora da bude trokarakteran oblik
  </span>

  <label class="form-label">Komentar</label>
  <textarea class="form-control" rows="4"></textarea>

  <h5 *ngIf="errorMessage" style="color: red">{{errorMessage}}</h5>
  <button  class="btn btn-primary" value="submit">Submit</button>
</form>
