<div class="container d-flex flex-column">
  <h1 style="font-family: Sans-serif, serif; text-align: center" class="mb-4 pb-2 pb-md-0 mb-md-5">Upravljanje korisnicima</h1>
  <br>
  <div id="pozadina">
    <table class="table table-bordered">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Korisničko ime</th>
        <th scope="col">Ime</th>
        <th scope="col">Prezime</th>
        <th scope="col">Akcija</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users; index as i" (click)="toggleUser(user)">
        <td>{{ user.userId }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td> <button class="btn btn-danger" (click)="delete(user)">Obriši</button> </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="align-self-center">
    <button (click)="addToggle()" type="button" class="btn btn-success">Dodaj</button>
  </div>
  <div [hidden]="hiddenEdit">
    <hr>
    <form [formGroup]="userEditForm" (submit)="edit()">
      <div>
        <h3 style="text-align: center">Ažuriranje</h3>
      </div>
      <br>
      <div class="d-flex flex-column gap-2">
        <div class="form-group">
          <input type="text" class="form-control item" id="username" placeholder="Unesi korisničko ime"
                 [formControlName]="'username'">
        </div>
        <div class="form-group">
          <input type="text" class="form-control item" id="InputName" placeholder="Unesi ime"
                 [formControlName]="'name'">
        </div>
        <div class="form-group">
          <input type="text" class="form-control item" id="InputSurname" placeholder="Unesi prezime"
                 [formControlName]="'surname'">
        </div>
        <div class="d-flex justify-content-evenly">
          <div class="d-flex flex-column">
            <div>
              <input [formControlName]="'finknj'" class="form-check-input" type="checkbox" value="clear"> finknj
            </div>
            <div>
              <input [formControlName]="'obrza'" class="form-check-input" type="checkbox" value="clear"> obrza
            </div>
            <div>
              <input [formControlName]="'finop'" class="form-check-input" type="checkbox" value="clear"> finop
            </div>
          </div>
        </div>
        <div class="form-group d-flex gap-2 align-self-center">
          <button type="button" [disabled]="!this.userEditForm.valid" (click)="edit()"
                  class="btn btn-primary">Ažuriraj</button>
          <button type="button" class="btn btn-danger" (click)="this.hiddenEdit = !this.hiddenEdit">Poništi</button>
        </div>
      </div>
    </form>
  </div>

  <div [hidden]="hiddenAdd">
    <hr>
    <form [formGroup]="userAddForm" (submit)="add()" class="d-flex flex-column gap-2">
      <div>
        <h3 style="text-align: center">Dodavanje korisnika</h3>
      </div>
      <br>
      <div class="form-group">
        <input type="text" class="form-control item" id="username2" placeholder="Korisničko ime"
               [formControlName]="'username'">
      </div>
      <div class="form-group">
        <input type="text" class="form-control item" id="InputName2" placeholder="Ime" [formControlName]="'name'">
      </div>
      <div class="form-group">
        <input type="text" class="form-control item" id="InputSurname2" placeholder="Prezime"
               [formControlName]="'surname'">
      </div>
      <div class="form-group">
        <input type="password" class="form-control item" id="InputPassword" placeholder="Lozinka"
               [formControlName]="'password'">
      </div>

      <div class="d-flex justify-content-evenly">
        <div class="d-flex flex-column">
          <div>
            <input [formControlName]="'finknj'" class="form-check-input" type="checkbox" value="clear"> finknj
          </div>
          <div>
            <input [formControlName]="'obrza'" class="form-check-input" type="checkbox" value="clear"> obrza
          </div>
          <div>
            <input [formControlName]="'finop'" class="form-check-input" type="checkbox" value="clear"> finop
          </div>
        </div>
      </div>

      <div class="form-group d-flex gap-2 align-self-center">
        <button type="button" [disabled]="!this.userAddForm.valid" (click)="add()"
                class="btn btn-primary create-account">Dodaj</button>
        <button type="button" class="btn btn-danger" (click)="this.hiddenAdd = !this.hiddenAdd">Poništi</button>
      </div>
    </form>
  </div>
</div>
