<!--https://www.geeksforgeeks.org/angular-ng-bootstrap-collapse-component/-->
<div class="row">
  <h1 style="font-family: Sans-serif, serif; text-align: center" class="mb-4 pb-2 pb-md-0 mb-md-5">Obračun</h1>
  <div class="col-sm-5"></div>
  <div class="card col-sm-5" style="width: 18rem; text-align: center">
    <div class="card-body">
      <h6 class="card-title" *ngIf="dayExist">Obračun će se generisati svakog {{zakazanDan}} u mesecu pod šifrom {{zakazanaSifra}}</h6>

      <h5 class="card-title">Dan</h5>
      <!-- dan     sifra: naziv-->

      <div [formGroup]="obracun">
        <input type="text" class="form-control"  [formControlName]="'dan'">
      </div>
      <br>
      <h5 class="card-title">Šifra transakcije</h5>
      <select class="form-control" [(ngModel)]="selectovanaSifra">
        <option *ngFor="let sifra of sifreTransakcija" [value]="sifra.sifraTransakcijeId">{{sifra.sifra + ": " + sifra.nazivTransakcije}}</option>
      </select>
      <br>
      <button class="btn btn-sm btn-primary" (click)="zakazi()">Promeni</button>

    </div>
  </div>
</div>

<div class="row">
  <div class="col-sm-5"></div>

  <div class="card col-sm-5" style="width: 18rem; text-align: center">
    <div class="card-body">

      <h5 class="card-title">Napravi obračun odmah</h5>
      <br>
      <h5 class="card-title">Šifra transakcije</h5>
      <select class="form-control" [(ngModel)]="selectovanaSifra">
        <option *ngFor="let sifra of sifreTransakcija" [value]="sifra.sifraTransakcijeId">{{sifra.sifra + ": " + sifra.nazivTransakcije}}</option>
      </select>
      <br>
      <button class="btn btn-sm btn-primary" (click)="napravi()">Napravi</button>

    </div>
  </div>
</div>
<br><br>
<div>
  <div class="view" *ngFor="let obracun of obracuni; index as i">
    <div class="div_hover mx-10" style="border: 1px solid; border-radius: 5px; text-align: center;">

      <div style="height: 3rem; font-size: large; " (click)="collapse.toggle();"
           [attr.aria-expanded]="!flagovi[i]"
           aria-controls="collapseExample">
        {{obracun.datumObracuna | date : 'MM/YY'}}
      </div>

      <div #collapse="ngbCollapse"
           [(ngbCollapse)]="flagovi[i]">
        <div class="card">
          <div class="card-body">

            <!--            Angular10 ng bootstrap-->
            <!--            {{datum | date : 'MM/YY'}}-->

            <div class="mt-4">
              <table class="table table-striped table-responsive-sm">
                <thead>
                <tr>
                  <th>Šifra zaposlenog</th>
                  <th>Ime i prezime</th>
                  <th>Neto plata</th>
                  <th>Porez</th>
                  <th>Doprinos 1</th>
                  <th>Bruto plata</th>
                  <th>Doprinos 2</th>
                  <th>Učinak %(decimalni broj)</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let obracun2 of obracuni[i].obracunZaposleniList; index as j">
                  <td>{{ obracun2.zaposleni.zaposleniId }}</td>
                  <td>{{ obracun2.zaposleni.ime }} {{obracun2.zaposleni.prezime}}</td>
                  <td><input size="4" maxlength="3" min="1" max="100" type="text" [(ngModel)]="obracun2.netoPlata"></td>
                  <td>{{ obracun2.porez.toFixed(2)}}</td>
                  <td>{{ obracun2.doprinos1.toFixed(2)}}</td>
                  <td>{{ obracun2.brutoPlata.toFixed(2)}}</td>
                  <td>{{ obracun2.doprinos2.toFixed(2)}}</td>
                  <td><input size="4" maxlength="3" min="1" max="100" type="text" [(ngModel)]="obracun2.ucinak"></td>
                  <td>
                    <button class="btn btn-warning"
                            (click)="updateZaposleni(obracun2.obracunZaposleniId, obracun2.netoPlata, obracun2.ucinak, i, j)">
                      Izmeni
                    </button>
                  </td>
                  <td>
                    <button class="btn btn-danger" (click)="deleteZaposleni(obracun2.obracunZaposleniId, i, j)">Obriši
                    </button>
                  </td>
                </tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td>{{zbirNetoPlata(obracuniZaposleni)}}</td>
                  <td>{{zbirPorez(obracuniZaposleni)}}</td>
                  <td>{{zbirDoprinos11(obracuniZaposleni)}}</td>
                  <td>{{zbirBrutoPlata(obracuniZaposleni)}}</td>
                  <td>{{zbirDoprinosi2(obracuniZaposleni)}}</td>
                  <td>{{zbirUkupanTrosakZarade(obracuniZaposleni)}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>

          <button [disabled]="obracuni[i].obradjen" (click)="izvrsiTransakciju(obracun.obracunId)" class="btn btn-danger mx-5">Izvrši transakciju</button>
        </div>
      </div>
    </div>
  </div>


</div>
