<div>
<!--  //Evidencije, Nabavke, Izveštaji, Prodaja, fin op, obr zar-->
  <button mat-raised-button (click)="gotoProfile()">
    <img class="card-link" src="https://static.vecteezy.com/system/resources/previews/000/367/333/large_2x/edit-profile-vector-icon.jpg">
    <p>Profil</p>
  </button>

  <button mat-raised-button (click)="gotoEvidencije()">
    <img class="card-link" src="https://static.vecteezy.com/system/resources/previews/007/095/901/non_2x/folder-office-file-binder-business-illustration-icon-document-paper-shelf-work-archive-free-vector.jpg">
    <p>Evidencije</p>
  </button>

  <button mat-raised-button (click)="gotoNabavke()">
    <img class="card-link" src="https://static.vecteezy.com/system/resources/previews/004/430/011/large_2x/nice-boxes-stack-free-vector.jpg">
    <p>Nabavke</p>
  </button>

  <button mat-raised-button (click)="gotoIzvestaji()">
    <img class="card-link" src="https://static.vecteezy.com/system/resources/previews/001/912/324/large_2x/infographic-with-puzzle-pieces-icons-free-vector.jpg">
    <p>Izveštaji</p>
  </button>

  <button mat-raised-button (click)="gotoProdaja()">
    <img class="card-link" src="https://static.vecteezy.com/system/resources/previews/000/136/667/non_2x/business-and-finance-icon-set-vector.jpg">
    <p>Prodaja</p>
  </button>

  <button mat-raised-button (click)="gotoFinOp()">
    <img class="card-link" src="https://static.vecteezy.com/system/resources/previews/000/133/508/non_2x/world-business-icons-vector.jpg">
    <p>Finansijska Operativa</p>
  </button>

  <button mat-raised-button (click)="gotoFinKnj()">
    <img class="card-link" src="https://static.vecteezy.com/system/resources/previews/000/158/380/large_2x/financial-accounting-and-bookkeeping-concept-vector.jpg">
    <p>Finansijsko Knjigovodstvo</p>
  </button>

  <button mat-raised-button (click)="gotoObrZar()">
    <img class="card-link" src="https://static.vecteezy.com/system/resources/previews/000/162/477/non_2x/vector-payroll-illustration.jpg">
    <p>Obračun zarade</p>
  </button>



</div>
