<div>
  <table class="table">
    <thead>
    <tr>
      <th style="width: 30%" scope="col">Broj Konta</th>
      <th style="width: 50%" scope="col">Naziv</th>
    </tr>
    </thead>
    <tbody *ngFor="let konto of kontos; index as i">
    <tr [formGroup]="kontoUpdateForm" (submit)="updateKonto(konto)" (dblclick)="toggleEditable(i)">
      <td [hidden]="enableEditIndex != i"> <input type='text' class="form-control" [contentEditable]="enableEditIndex == i" [formControlName]="'brojKonta'" placeholder="{{konto.brojKonta}}"></td>
      <td [hidden]="enableEditIndex != i"> <input type='text' class="form-control" [contentEditable]="enableEditIndex == i" [formControlName]="'naziv'" placeholder="{{konto.nazivKonta}}"></td>
      <td [hidden]="enableEditIndex == i"> {{konto.brojKonta}} </td>
      <td [hidden]="enableEditIndex == i"> {{konto.nazivKonta}} </td>
      <td>
        <button [hidden]="enableEditIndex != i" [disabled]="!kontoUpdateForm.valid || enableEditIndex != i" type="submit" mat-raised-button color="primary" (click)="updateKonto(konto)">Sacuvaj</button>
        <button [hidden]="enableEditIndex != i" mat-raised-button color="warn" (click)="deleteKonto(konto)">Izbrisi</button>
      </td>
    </tr>
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  </table>

  <div class="offset-4 col-4">
    <form [formGroup]="kontoCreateForm" (submit)="createKonto()" class="mb-5">
      <div class="form-group">
        <label for="brojKonta">Broj Konta</label>
        <input type="text" class="form-control" id="brojKonta" placeholder="Broj Konta" [formControlName]="'brojKonta'">
        <label for="naziv">Naziv</label>
        <input type="text" class="form-control" id="naziv" placeholder="Naziv" [formControlName]="'naziv'">
      </div>
      <button [disabled]="!kontoCreateForm.valid" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
