<div class="container d-flex flex-column gap-3">
  <h1 style="font-family: Sans-serif, serif; text-align: center" class="mb-4 pb-2 pb-md-0 mb-md-5">Kontni plan</h1>
  <table class="table">
    <thead>
    <tr>
      <th style="width: 30%" scope="col">Broj Konta</th>
      <th style="width: 50%" scope="col">Naziv</th>
    </tr>
    </thead>
    <tbody *ngFor="let konto of kontos; index as i">
    <tr [formGroup]="kontoUpdateForm" (submit)="updateKonto(konto.kontnaGrupaId)" (dblclick)="toggleEditable(i)">
      <td [hidden]="enableEditIndex != i"> <input type='text' class="form-control" [contentEditable]="enableEditIndex == i" [formControlName]="'brojKonta'" placeholder="{{konto.brojKonta}}"></td>
      <td [hidden]="enableEditIndex != i"> <input type='text' class="form-control" [contentEditable]="enableEditIndex == i" [formControlName]="'naziv'" placeholder="{{konto.nazivKonta}}"></td>
      <td [hidden]="enableEditIndex == i"> {{konto.brojKonta}} </td>
      <td [hidden]="enableEditIndex == i"> {{konto.nazivKonta}} </td>
      <td>
        <button [hidden]="enableEditIndex != i" [disabled]="!kontoUpdateForm.valid || enableEditIndex != i" type="submit" mat-raised-button color="primary" (click)="updateKonto(konto.kontnaGrupaId)">Sačuvaj</button>
        <button [hidden]="enableEditIndex != i" mat-raised-button color="warn" (click)="deleteKonto(konto)">Izbriši</button>
      </td>
    </tr>
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  </table>

  <div class="offset-4 col-4">
    <form [formGroup]="kontoCreateForm" (submit)="createKonto()" class="mb-5 d-flex flex-column gap-3">
      <div class="form-group  d-flex flex-column gap-1">
        <label for="brojKonta">Broj Konta</label>
        <input type="text" class="form-control" id="brojKonta" placeholder="Broj Konta" [formControlName]="'brojKonta'">
        <label for="naziv">Naziv</label>
        <input type="text" class="form-control" id="naziv" placeholder="Naziv" [formControlName]="'naziv'">
      </div>
      <button [disabled]="!kontoCreateForm.valid" type="submit" class="btn btn-primary">Dodaj</button>
    </form>
  </div>
</div>
