
<div [hidden]="loggedIn()">
  <form [formGroup]="loginForm" (submit)="login()" class="offset-4 col-4">
    <div class="form-group">
      <label for="email">Email</label>
      <input type="text" class="form-control" id="email" placeholder="Email" [formControlName]="'email'">
      <label for="password">Password</label>
      <input type="password" class="form-control" id="password" placeholder="Password" [formControlName]="'password'">
      <div class="error-message text-danger" *ngIf="wrongPasswordOrUsername"> Pogresna lozinka ili korisnicko ime</div>
    </div>
    <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
