<div [hidden]="loggedIn()" class="d-flex justify-content-center">
  <form [formGroup]="loginForm" (submit)="login()">
    <div class="d-flex flex-column position-relative form-group gap-3">
      <div class="error-message text-danger position-absolute negative-top" *ngIf="wrongPasswordOrUsername">Pogrešno ime
        ili
        lozinka
      </div>
      <div>
        <label for="email">Korisničko ime</label>
        <input type="text" class="form-control" id="email" placeholder="Korisnicko ime" [formControlName]="'email'">
      </div>
      <div>
        <label for="password">Lozinka</label>
        <input type="password" class="form-control" id="password" placeholder="Lozinka" [formControlName]="'password'">
      </div>
      <button [disabled]="!loginForm.valid" type="submit" class="btn btn-primary">Prijava</button>
    </div>
  </form>
</div>
