<div class="row mt-2 creating-block">
  <h1 class="mb-4 pb-2 pb-md-0 mb-md-5 text-center">Troškovni centar</h1>
  <div class="col-2 text-center">
    <label>Naziv:</label><br>
    <input type="text" #newTroskCentarNaziv>
  </div>

  <div class="col-2 text-center">
    <label>Šifra:</label><br>
    <input type="text" #newTroskCentarSifra>
  </div>

  <div class="col-2 text-center">
    <label for="lokacije">Lokacija:</label><br>
    <select name="lokacije" id="lokacije" #newTroskCentarLokacijaId>
      <option *ngFor="let lokacija of lokacije">{{lokacija.naziv}} - {{ lokacija.adresa }}</option>
    </select>
  </div>

  <div class="col-2 text-center">
    <label for="odgLice">Odg. lice:</label><br>
    <select name="odgLica" id="odgLice" #newTroskCentarOdgLiceId>
      <option *ngFor="let odgLice of odgovornaLica">{{odgLice.ime}} {{ odgLice.prezime }}</option>
    </select>
  </div>

  <div class="col-2 text-center">
    <label for="parent">Roditelj:</label><br>
    <select name="knjizenja" id="parent" #newTroskCentarRoditelj>
      <option *ngFor="let centar of troskovniCentri">{{centar.naziv}}</option>
    </select>
  </div>

  <div class="col-2 text-center d-flex align-items-center justify-content-center">
    <button type="button" class="btn btn-primary"
            (click)="sacuvajTroskovniCentar(newTroskCentarNaziv, newTroskCentarSifra, newTroskCentarLokacijaId, newTroskCentarOdgLiceId, newTroskCentarRoditelj)">
      Napravi
    </button>
  </div>
</div>


<hr>


<div class="row mt-2 adding-kontos-block">
  <div class="col-4 text-center">
    <label for="knjizenja">Knjiženja:</label><br>
    <select name="knjizenja" id="knjizenja" #knjizenjeSelect>
      <option *ngFor="let knjizenje of knjizenja" value="knjizenje">{{knjizenje.brojNaloga}}</option>
    </select>
  </div>

  <div class="col-4 text-center d-flex align-items-center justify-content-center">
    <button type="button" class="btn btn-primary" (click)="popup(knjizenjeSelect.selectedIndex, centarSelect.selectedIndex)">Dodeli listu
      konta
    </button>
  </div>

  <div class="col-4 text-center">
    <label for="centri">Troškovni centri:</label><br>
    <select name="centri" id="centri" #centarSelect>
      <option *ngFor="let centar of troskovniCentri" value="centar">{{centar.naziv}}</option>
    </select>
  </div>
</div>


<hr>


<ul>
  <ng-template #recursiveList let-troskovniCentri>
    <li *ngFor="let centar of troskovniCentri" class="mb-3 centar">

      <b (click)="centar.showDetails = !centar.showDetails" class="centar-title">{{centar.naziv}}</b>
      <button type="button" class="btn btn-sm btn-outline-primary" (click)="setSelected(centar)"><i>lista-konta</i></button>
      <button type="button" class="btn btn-sm btn-outline-danger" (click)="obrisiTroskovniCentar(centar)">Obriši</button>

      <div *ngIf="centar.showDetails">

        <ul class="centar-props mb-2">
          <p><i>Šifra:</i> <b><i>{{centar.sifra}}</i></b></p>
          <p><i>Ukupni trošak:</i> <b><i>{{centar.ukupniTrosak}}</i></b></p>
          <p><i>Naziv: </i> <input type="text" value="{{centar.naziv}}" #editableNazivCentra></p>
          <p><i>Odgovorno lice: </i><select #editableOdgLice><option *ngFor="let odgLice of odgovornaLica">{{odgLice.ime}}</option></select></p>
          <p><i>Lokacija: </i><select #editablelokacijaId><option *ngFor="let lokacija of lokacije">{{lokacija.naziv}}</option></select></p>
          <button type="button" class="btn btn-sm btn-outline-warning" (click)="izmeniTroskovniCentar(centar, editableNazivCentra, editableOdgLice, editablelokacijaId)">Izmeni podatke</button>
        </ul>

        <ul *ngIf="centar.troskovniCentarList.length > 0">
          <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: centar.troskovniCentarList }"></ng-container>
        </ul>

      </div>

    </li>
  </ng-template>
  <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: troskovniCentri }"></ng-container>
</ul>


<!--<mat-tree *ngIf="profitniCentri" [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">-->
<!--  <mat-nested-tree-node *matTreeNodeDef="let node">-->

<!--    <div class="mat-tree-node">-->
<!--      <button mat-icon-button matTreeNodeToggle type="button" class="btn plusminus" [attr.aria-label]="'Toggle ' + node.naziv">-->
<!--        {{getIcon(node)}}-->
<!--      </button>-->

<!--      <b>{{node.naziv}}</b>-->

<!--      <button type="button" class="btn btn-sm btn-outline-primary" (click)="setSelected(node)"><i>lista-konta</i></button>-->
<!--      <button type="button" class="btn btn-sm btn-outline-warning"-->
<!--              (click)="izmeniProfitniCentar(node, editableNazivCentra, editableOdgLice, editablelokacijaId)">Izmeni-->
<!--      </button>-->
<!--      <button type="button" class="btn btn-sm btn-outline-danger" (click)="obrisiProfitniCentar(node)">Obriši</button>-->
<!--    </div>-->

<!--    <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group">-->
<!--      <ng-container matTreeNodeOutlet>-->
<!--        <i>Šifra:</i> <b><i>{{node.sifra}}</i></b> <br>-->
<!--        <i>Ukupni trošak:</i> <b><i>{{node.ukupniTrosak}}</i></b> <br>-->
<!--        <i>Naziv: </i> <input type="text" value="{{node.naziv}}" #editableNazivCentra> <br>-->
<!--        <i>Odgovorno lice: </i><select #editableOdgLice>-->
<!--        <option *ngFor="let odgLice of odgovornaLica">{{odgLice.ime}}</option>-->
<!--      </select> <br>-->
<!--        <i>Lokacija: </i><select #editablelokacijaId>-->
<!--        <option *ngFor="let lokacija of lokacije">{{lokacija.naziv}}</option>-->
<!--      </select> <br>-->
<!--      </ng-container>-->
<!--    </div>-->

<!--  </mat-nested-tree-node>-->
<!--</mat-tree>-->


<hr>


<div *ngIf="selectedTroskovniCentar" class="kontos-table">
  <table class="table table-bordered">
    <thead>
    <tr>
      <th scope="col" class="text-center">Broj naloga</th>
      <th scope="col" class="text-center">Broj konta</th>
      <th scope="col" class="text-center">Ime konta</th>
      <th scope="col" class="text-center">Saldo</th>
      <th scope="col" class="text-center">Datum</th>
      <th scope="col" class="text-center">Komentar</th>
      <th scope="col" class="text-center">Akcija</th>
    </tr>
    </thead>
    <tbody *ngIf="selectedTroskovniCentar.kontoList">
    <tr *ngFor="let konto of selectedTroskovniCentar.kontoList">
      <td class="text-center">{{konto.brojNalogaKnjizenja}}</td>
      <td class="text-center">{{konto.kontnaGrupa.brojKonta}}</td>
      <td class="text-center">{{konto.kontnaGrupa.nazivKonta}}</td>
      <td class="text-center">{{getSaldo(konto.duguje, konto.potrazuje)}}</td>
      <td class="text-center">{{getAsDate(konto.datumKnjizenja)}}</td>
      <td class="text-center"><textarea rows="1" #editableKomentar>{{konto.komentarKnjizenja}}</textarea></td>
      <td class="text-center">
        <button type="button" class="btn btn-sm btn-outline-warning"
                (click)="izmeniKonto(konto, editableKomentar)">Izmeni
        </button>
        <button type="button" class="btn btn-sm btn-outline-danger" (click)="obrisiKonto(konto)">Obriši</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
