<div class="border">
  <link href="https://unpkg.com/@angular/material/prebuilt-themes/indigo-pink.css" rel="stylesheet">
<div class="row">
  <div class="col-sm">
    <h2 style="text-align: center"> {{title}} </h2>
  </div>
  <div class="col-sm-1">
    <button class="btn btn-close" (click)="close()"></button>
  </div>

</div>
<form [formGroup]="inputForm" (submit)="stampaj()">
  <div class="form-group col-sm-6">
    <label for="name">Naziv/opis:</label>
    <input type="text" class="form-control item" id="name" [formControlName]="'name'">
  </div>
  <br>
  <div class="form-group row">
    <label>Tekući period:</label>
    <div class="col-sm-5">
      <input type="date" class="form-control item" id="datum1" [formControlName]="'date1'">
    </div>
    <div class="col-sm-5">
      <input type="date" class="form-control item" id="datum2" [formControlName]="'date2'">
    </div>
  </div>
  <br>
  <br>
  <div>
      <button (click)="toggle()" type="button" class="btn btn-success">{{plusMinus}}</button>
  </div>
  <br>
  <div [hidden]="dateDropdown" >
    <div class="row">
      <div class="row">
        <label>Dodatni periodi (opciono): </label>
      </div>
      <div class="col-sm-5">
        <input type="date" class="form-control item" id="datum3" [formControlName]="'date3'">
      </div>
      <div class="col-sm-5">
        <input type="date" class="form-control item" id="datum4" [formControlName]="'date4'">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-5">
        <input type="date" class="form-control item" id="datum5" [formControlName]="'date5'">
      </div>
      <div class="col-sm-5">
        <input type="date" class="form-control item" id="datum6" [formControlName]="'date6'">
      </div>
    </div>
  </div>
</form>
  <br>
  <hr>
  <br>
<div class="row-cols-md-6"></div>
  <div class="row">
    <div>
      <button (click)="stampaj()" [disabled]="!this.inputForm.valid" class="btn btn-primary">štampaj</button>
    </div>
  </div>
<app-bilans-stanja-uspeha hidden="true"></app-bilans-stanja-uspeha>
</div>

