
<div class="row mt-1">
  <div class="col">
    <button class="btn btn-close float-end" (click)="close()"></button>
  </div>
</div>

<div class="row mt-1 text-center">
  <h2 class="text-center">{{title}}</h2>
</div>

<div class="row mt-1 text-center">
  <div class="col-2"></div>
  <div class="col-4">
    <label>Komitent: </label>
  </div>
  <div class="col-4">

    <select #komitent>
      <option *ngFor="let komitent of komitenti">{{komitent.preduzeceId}}</option>
    </select>

  </div>
  <div class="col-2"></div>
</div>

<div class="row mt-1 text-center">
  <div class="col-2"></div>
  <div class="col-4">
    <label>Naslov: </label>
  </div>
  <div class="col-4">
    <input type="text" #naslov>
  </div>
  <div class="col-2"></div>
</div>

<div class="row mt-1 text-center">
  <div class="col-2"></div>
  <div class="col-4">
    <label>Datum od: </label>
  </div>
  <div class="col-4">
    <input type="date" id="datum1" #datum1>
  </div>
  <div class="col-2"></div>
</div>

<div class="row mt-1 text-center">
  <div class="col-2"></div>
  <div class="col-4">
    <label>Datum do: </label>
  </div>
  <div class="col-4">
    <input type="date" id="datum2" #datum2>
  </div>
  <div class="col-2"></div>
</div>

<br>
<br>
<br>

<div class="row mt-1 text-center">
  <div class="col-4"></div>
  <div class="col-4">
    <button (click)="stampaj(komitent, naslov, datum1, datum2)" class="btn btn-primary">štampaj</button>
  </div>
  <div class="col-4"></div>
</div>

<app-izvestaj-o-transakcijama-komitent hidden="true"></app-izvestaj-o-transakcijama-komitent>
